h1 {
    font-size: 1.6rem;
}

.avatar {
    width: 100%;
    height:100%;
}

.card {
    width: 280px;
}

.fContainer {
    margin-top:2rem;
}

.card {
    background-color:#1E242F;
}